*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
credentials.json
googleservicekey.json

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

*.Local.*
deploy.ps1

# Visual Studio 2015
.vs/
/test-cert.pfx
launchSettings.json

*.db